<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@400;600&display=swap" rel="stylesheet"> 
<!-- #### -->



<div class="featurediv ">
    <div class="row justify-content-center align-items-center">
        <!-- News cover -->
        <div class="col imgcol">
            <img src="../assets/images/newscover1.jpg" alt="">
        </div>

        <!-- News Title and Date -->
        <div class="col titledatecol">
            <div class="row">
                <div class="col titlecol"><strong>After one death in covid, Bhutan king</strong></div>
            </div>
            <div class="row ">
                <div class="col datecol"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                  </svg><span style="margin-left:10px; font-size:0.7rem"> June 23, 2021 </span>  </div>
            </div>
        </div>

    </div>
</div>